<ion-header>
  <ion-toolbar>
    <ion-menu-toggle slot="start">
      <ion-icon name="menu-outline" size="large"></ion-icon>
    </ion-menu-toggle>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>
      Updates:
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>new feature <i>17-02-203</i></ion-card-subtitle>
      <ion-card-title>Delete your pets!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sequi error autem ea recusandae libero ut veritatis laudantium. Veritatis ut esse numquam illum alias doloribus repudiandae quos obcaecati sequi explicabo.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>new feature <i>17-02-203</i></ion-card-subtitle>
      <ion-card-title>Add new pets!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sequi error autem ea recusandae libero ut veritatis laudantium. Veritatis ut esse numquam illum alias doloribus repudiandae quos obcaecati sequi explicabo.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>new feature <i>17-02-203</i></ion-card-subtitle>
      <ion-card-title>View app on mobile</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sequi error autem ea recusandae libero ut veritatis laudantium. Veritatis ut esse numquam illum alias doloribus repudiandae quos obcaecati sequi explicabo.
    </ion-card-content>
  </ion-card>

</ion-content>
